@tailwind base;

@tailwind components;



.btn {
    @apply bg-white border border-teal-500 text-teal-500 rounded-lg font-semibold py-1 px-2;
}

.btn:focus {
    @apply outline-none font-bold;
}

input[type=range] {
  width: 100%;
  margin: 2.6px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  @apply bg-teal-500;
  border: 0;
  border-radius: 3.7px;
  width: 100%;
  height: 12.8px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -2.6px;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 2.5px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  @apply bg-teal-500;
  /*background: linear-gradient(to right, rgb(56, 178, 172), rgb(156, 80, 172));*/
}
input[type=range]::-moz-range-track {
  @apply bg-teal-500;
  border: 0;
  border-radius: 3.7px;
  width: 100%;
  height: 12.8px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 2.5px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 3.6px 0;
  color: transparent;
  width: 100%;
  height: 12.8px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #ff6ca6;
  border: 0;
  border-radius: 7.4px;
}
input[type=range]::-ms-fill-upper {
  @apply bg-teal-500;
  border: 0;
  border-radius: 7.4px;
}
input[type=range]::-ms-thumb {
  width: 18px;
  height: 18px;
  background: #ffffff;
  border: 2.5px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  @apply bg-teal-500;
}
input[type=range]:focus::-ms-fill-upper {
  @apply bg-teal-500;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
}

.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 40px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

@tailwind utilities;